<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="ucl.kebappsample" >

<uses-permission
    android:name="android.permission.ACCESS_WIFI_STATE"
    android:required="true" />
<uses-permission
    android:name="android.permission.CHANGE_WIFI_STATE"
    android:required="true" />
<uses-permission
    android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
    android:required="true" />
    <uses-permission
    android:name="android.permission.INTERNET"
    android:required="true" />
<uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    android:required="true"/>
<uses-permission
    android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"
    android:required="true"/>
<uses-permission
    android:name="android.permission.ACCESS_COARSE_LOCATION"
    android:required="true"/>
<uses-permission
    android:name="android.permission.ACCESS_FINE_LOCATION"
    android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- in order to access user's gallery -->
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

<application
    android:name=".KebappApplication"
    android:allowBackup="true"
    android:supportsRtl="true"
    android:icon="@drawable/kebapp"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:screenOrientation="portrait"
    >

    <activity
        android:name=".InterestActivity"
        android:label="DiscoverableDevices"
        android:screenOrientation="portrait"
        >
    </activity>
    <activity
        android:name=".DeviceListActivity"
        android:label="DiscoverableDevices"
        android:screenOrientation="portrait"
        >
    </activity>
    <service android:name=".KebappService"
        android:exported="false"/>
    <activity
        android:name=".SplashActivity"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait"
        >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <receiver android:name=".WiFiBroadcastReceiver">
    <!--<intent-filter>

        <action android:name="android.net.wifi.STATE_CHANGED"/>

        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
        <action android:name="android.net.wifi.SCAN_RESULTS"/>
    </intent-filter>
    -->
    </receiver>
    <meta-data
        android:name="com.google.android.maps.v2.API_KEY"
        android:value="AIzaSyBiVig1mU9LZwjDs4k18zmZNMcCobSFtrM" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
</application>

</manifest>